@use '../../styles' as *;

header {
  @include flexbox(between);
  width: 100%;
  padding: 40px 0;

  .logo {
    position: absolute;
    z-index: 40;
    left: 32px;
  }

  .close-btn {
    position: absolute;
    z-index: 40;
    right: 32px;
  }

  @include responsive(T) {
    width: 85%;
    margin-bottom: 70px;

    .logo {
      position: relative;
      left: 0;
    }

    .close-btn {
      display: none;
    }
  }
}
