hr {
  width: 80px;
  border: 0.1px solid hsl(0, 0%, 84%);
}

.main-title {
  border: 1px solid hsl(0, 0%, 95.69%);
  margin-bottom: 24px;
}

.main-title::before {
  content: '';
  background-image: url('../../assets/logo-mastercraft.svg');
  width: 56px;
  height: 56px;
  position: absolute;
  z-index: 40;
  top: 215px;
}

.performance {
  width: 327px;
  height: 410px;
  border: 1px solid hsl(0, 0%, 95.69%);
  margin-bottom: 24px;
}

.performance, .performance div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.performance span {
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  width: 327px;
  border: 1px solid hsl(0, 0%, 95.69%);
}

.about h2 {
  font-size: 23px;
}

p {
  color: var(--dark-gray);
}

.num {
  font-size: 28px;
  font-weight: 700;
}

.label {
  color: var(--dark-gray);
  font-size: 12px;
}

div.progress {
  width: 279px;
  height: 12px;
  background-color: hsl(0, 0%, 96.08%);
  border-radius: 20px;
  align-items: start;
}

.progress-bar {
  width: 218px;
  height: 12px;
  background-color: var(--moderate-cyan);
  border-radius: 20px;
}

.about-txt-area {
  margin: 40px 21px;
}

.about-txt-area h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}

.about-txt-area p {
  width: 280px;
  line-height: 25px;
  margin-bottom: 30px;
}

.about-txt-area p:last-child {
  margin-bottom: 0;
}

.about-button-card-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}