$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);

$white: hsl(0, 100%, 100%);
$gray-btn-bg: hsl(0, 0%, 97%);
$border: hsl(260, 9%, 94%);

$grayish-blue: hsl(229, 8%, 60%);
$tertiary: hsl(240, 3%, 46%);
$very-dark-blue: hsl(229, 31%, 21%);
