@use '../../styles/index' as *;

footer {
  width: 100%;
  background-color: $very-dark-blue;

  .footer-container {
    @include column-flexbox;

    .footer-logo {
      padding: 32px 0;
    }

    .menu-item {
      @include column-flexbox;

      a {
        @include flexbox;
        height: 58px;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        letter-spacing: 2px;

        &:last-child {
          margin-bottom: 23px;
        }
      }
    }
  }

  .sns {
    @include flexbox(center);
    padding-bottom: 37px;

    &-item {
      @include flexbox(between);
      width: 88px;
      font-size: 24px;
      color: $white;
    }
  }

  @include responsive(T) {
    @include flexbox(between);
    padding: 0 100px;

    .footer-container {
      flex-direction: row;

      .footer-logo {
        margin-right: 66px;
      }

      .menu-item {
        flex-direction: row;
        margin-right: 66px;

        a {
          margin-right: 49px;
          transition: color 200ms ease-in-out;

          &:hover {
            color: $soft-red;
          }

          &:last-child {
            margin-right: 0;
            margin-bottom: 0;
          }
        }
      }
    }

    .sns {
      padding-bottom: 0;

      &-item {
        a {
          transition: color 200ms ease-in-out;

          &:hover {
            color: $soft-red;
          }
        }
      }
    }
  }
}
