@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
  /* Primary */
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);

  /* Neutral */
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Karla', sans-serif;
}

button {
  border: 0;
  background-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'DM Serif Display', serif;
}

header {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

nav {
  position: fixed;
  top: 80px;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  color: var(--very-light-gray);
  font-size: 18px;
  transition: 200ms all ease-out;
  background-color: var(--very-dark-violet);
  background-image: url('./images/bg-pattern-mobile-nav.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 32px;
  z-index: 10;
}

nav ul li a {
  width: 327px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--very-light-gray);
  text-decoration: none;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.plans {
  border: 2px solid var(--very-light-gray);
}

.plans:active {
  background-color: var(--very-dark-violet);
  color: var(--very-light-gray);
}

nav ul li a:active {
  opacity: 0.8;
}

nav.active {
  left: 0;
}

.menu-btn.active {
  background-image: url('./images/icon-close.svg');
}

.header-img {
  display: flex;
  height: 451px;
}

.header-img img {
  width: 100%;
}

.menu-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url('./images/icon-hamburger.svg');
  transition: 200ms background-image;
}

.container {
  overflow-x: hidden;
}

.description {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--very-light-gray);
  background-color: var(--dark-violet);
  margin-bottom: 140px;
}

.intro h1 {
  width: 345px;
  font-size: 46px;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 22px;
}

.intro hr {
  display: none;
}

.intro p {
  font-size: 16px;
  margin-bottom: 35px;
  width: 317px;
  line-height: 28px;
}

.intro a, .how a {
  border: 2px solid var(--very-light-gray);
  width: 146px;
  height: 40px;
  color: var(--very-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration-line: none;
  letter-spacing: 2px;
  font-size: 13px;
}

.intro a:active, .how a:active {
  background-color: var(--very-light-gray);
  color: var(--dark-violet);
}

.intro picture.left {
  position: absolute;
  top: 0;
  left: 0;
}

.intro picture.right {
  position: absolute;
  top: 350px;
  right: 0;
}

.benefit {
  width: 1110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
}

.benefit hr {
  width: 150px;
  margin-bottom: 45px;
  border: 0.5px solid var(--dark-grayish-violet);
}

.benefit h2 {
  font-size: 45px;
  font-weight: 400;
}

.benefit h3 {
  font-size: 27px;
  font-weight: 400;
  margin-bottom: 22px;
}

.benefit-item p {
  width: 305px;
  line-height: 25px;
  font-size: 15px;
  color: var(--dark-grayish-violet);
}

.benefit-item {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.benefit-icon {
  margin-bottom: 37px;
}

.how {
  width: 327px;
  height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--very-light-gray);
  background-color: var(--dark-violet);
  background-image: url('./images/bg-pattern-how-we-work-mobile.svg');
  background-repeat: no-repeat;
  background-position: top right;
  margin-bottom: 140px;
}

.how h2 {
  font-weight: 400;
  font-size: 39px;
  line-height: 60px;
  margin-bottom: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--very-light-gray);
  background-image: url('./images/bg-pattern-footer-mobile.svg');
  background-repeat: no-repeat;
  background-position: top center;
}

footer .logo {
  padding-top: 80px;
  margin-bottom: 32px;
}

footer .sns {
  margin-bottom: 40px;
}

.share {
  width: 328px;
  border-bottom: 0.5px solid var(--dark-grayish-violet);
  margin-bottom: 42px;
}

.sns a {
  display: inline-block;
  margin-right: 16px;
}

.sns a:last-child {
  margin-right: 0;
}

.sns a svg path {
  transition: 300ms fill;
}

.sns a:active svg path {
  fill: var(--very-dark-violet);
}

footer hr {
  width: 328px;
  border: 0.5px solid var(--grayish-blue);
}

footer a {
  text-transform: uppercase;
  text-decoration-line: none;
  letter-spacing: 1px;
  color: var(--dark-violet);
  text-align: center;
}

footer a:active {
  text-decoration: underline;
}

.sitemap {
  margin-bottom: 50px;
}

.sitemap h3, .sitemap div {
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 35px;
}

.sitemap h3 {
  color: var(--dark-grayish-violet);
}

.sitemap div {
  color: var(--very-dark-violet);
}

.sitemap div li {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  header {
    padding: 0 165px;
  }

  nav {
    position: relative;
    flex-direction: row;
    top: 0;
    left: 0;
    z-index: 5;
    color: var(--dark-grayish-violet);
    background-color: transparent;
    padding-top: 0;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 700;
    background-image: url('');
  }

  nav ul {
    display: flex;
    align-items: center;
  }

  nav ul li {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  nav ul li:last-child {
    padding-right: 0;
  }

  nav ul li a:hover {
    color: var(--dark-violet);
  }
  
  nav ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    color: var(--dark-grayish-violet);
    text-decoration: none;
    margin-bottom: 0;
    letter-spacing: 2px;
    font-size: 12px;
  }

  .header-img {
    position: absolute;
    right: 165px;
    z-index: 2;
    margin-top: 105px;
  }

  .intro h1 {
    width: 516px;
    font-size: 69px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 24px;
  }

  .intro p {
    width: 410px;
    margin-bottom: 37px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  .plans {
    width: 146px;
    height: 40px;
    color: var(--very-dark-violet);
    border: 2px solid var(--very-dark-violet);
  }

  .plans:hover {
    background-color: var(--very-dark-violet);
    color: var(--very-light-gray);
  }

  .intro {
    align-items: flex-start;
    text-align: left;
    padding-left: 165px;
    margin-bottom: 388px;
  }

  .intro hr {
    display: block;
    width: 150px;
    margin-top: 105px;
    margin-bottom: 45px;
    border: 0.5px solid var(--very-light-gray);
  }

  .intro h1 {
    width: 378px;
    font-size: 50px;
    font-weight: 400;
    line-height: 49px;
  }

  .intro {
    justify-content: flex-start;
  }

  .intro a:hover, .how a:hover {
    background-color: var(--very-light-gray);
    color: var(--dark-violet);
  }

  .description {
    background-image: url('');
  }

  .intro picture.left {
    position: absolute;
    top: 329px;
    left: 0;
  }

  .intro picture.right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
  }

  .benefit {
    align-items: flex-start;
  }

  .benefit h2 {
    font-size: 58px;
  }

  .benefit > div {
    width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .benefit-item {
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 20px;
  }

  .benefit-item:last-child {
    margin-right: 0;
  }

  .benefit-item p {
    width: 306px;
    font-size: 14px;
  }

  .how {
    width: 1110px;
    height: 250px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 84px;
    background-image: url('./images/bg-pattern-how-we-work-desktop.svg');
  }

  .how h2 {
    width: 480px;
    text-align: start;
    margin-bottom: 0;
    font-size: 55px;
  }

  footer {
    background-image: url('./images/bg-pattern-footer-desktop.svg');
    background-position: top left;
    padding: 0 85px;
    text-align: start;
    align-items: flex-start;
  }

  footer .logo {
    padding-top: 0;
    margin-bottom: 0;
  }

  footer .sns {
    margin-bottom: 0;
  }

  footer a:hover {
    text-decoration: underline;
  }
  
  .share {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 33px;
  }

  .sns a:hover svg path {
    fill: var(--very-dark-violet);
  }

  .sitemap {
    display: flex;
  }

  .sitemap div {
    margin-right: 200px;
  }

  .sitemap div:last-child {
    margin-right: 0;
  }
}