.mobile-hidden {
  opacity: 0;
  visibility: hidden;
}

body.open-modal {
  overflow: hidden;
}

.header {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  background-image: url('../../assets/image-hero-mobile.jpg');
  background-size: cover;
}

.header-bar {
  position: relative;
  width: 87%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.logo {
  position: absolute;
  z-index: 51;
}

.hamburger {
  position: absolute;
  right: 0;
  z-index: 51;
  width: 16px;
  height: 15px;
  background-image: url('../../assets/icon-hamburger.svg');
  transition: 300ms background;
}

.hamburger.open {
  width: 14px;
  height: 15px;
  background-image: url('../../assets/icon-close-menu.svg');
}

.menu-background {
  position: absolute;
  z-index: 49;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: var(--black);
}

.menu-background.open {
  opacity: 0.7;
  visibility: visible;
  height: 100vh;
  top: 0;
}

.menu {
  position: absolute;
  z-index: 50;
  border-radius: 10px;
  display: flex;
  top: 48px;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 212px;
  border: 1px solid hsl(0,0%,93%);
  transition: 300ms all;
}

.menu.open {
  opacity: 1;
  visibility: visible;
}

.menu-item a {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  color: var(--black);
  font-size: 18px;
  border-bottom: 1px solid hsl(0,0%,93%);
  padding: 25px;
}

.menu-item:last-child a {
  border: 0 solid hsl(0, 0%, 93%);
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .mobile-hidden {
    opacity: 1;
    visibility: visible;
  }

  .desktop-hidden {
    display: none;
  }

  .header {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    background-image: url('../../assets/image-hero-desktop.jpg');
    background-size: cover;
  }

  .header-bar {
    width: 79%;
    margin: 48px 32px;
  }

  .logo {
    position: relative;
    z-index: unset;
  }

  .menu {
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    border: 0;
    right: 0;
    top: 0;
    z-index: unset;
  }

  .menu-item {
    margin-right: 30px;
  }

  .menu-item:last-child {
    margin-right: 0;
  }

  .menu-item a {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    border-bottom: 0;
    padding: 0;
  }

  .menu-item a:last-child {
    margin-right: 0;
  }
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index:-1;

  /* load images */
  content:url('../../assets/icon-close-menu') url('../../assets/icon-bookmarked.svg');
}