body.open-alert {
  overflow: hidden;
}

.thank-you-alert-area {
  position: absolute;
  z-index: 91;
  width: 100%;
  height: 100vh;
  top: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms all;
}

.thank-you-alert-area.open .thank-you-alert-background {
  opacity: 0.4;
}

.thank-you-alert-area.open .thank-you-alert-container {
  opacity: 1;
}

.thank-you-alert-background {
  position: absolute;
  z-index: 90;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  opacity: 0;
  top: 0;
  left: 0;
}

.thank-you-alert-container {
  width: 327px;
  height: 382px;
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 95%);
  background-color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 91;
}

.thank-you-alert-area.open {
  visibility: visible;
  opacity: 1;
}

.thank-you-alert-container .check-img {
  margin-bottom: 28px;
}

.thank-you-alert-container h3 {
  font-weight: 700;
  margin-bottom: 27px;
}

.thank-you-alert-container p {
  width: 296px;
  text-align: center;
  margin-bottom: 34px;
}

.alert-btn {
  width: 107px;
  height: 49px;
  border-radius: 30px;
  background-color: var(--moderate-cyan);
  color: white;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .thank-you-alert-container {
    width: 540px;
    height: 450px;
  }

  .thank-you-alert-container h3 {
    font-size: 24px;
  }

  .thank-you-alert-container p {
    width: 442px;
    line-height: 30px;
    font-size: 16px;
  }

  .check-img {
    width: 90px;
  }

  .alert-btn {
    font-size: 15px;
    transition: 300ms all;
  }

  .alert-btn:hover {
    background-color: var(--dark-cyan);
  }
}